<h1><%=@figure.name%></h1>
<br>
<br>
<h3>Titles</h3>
<br>
<%@figure.titles.each do |title|%>
<p><%=title.name%></p>
<%end%>
<br>
<br>
<h3>Landmarks</h3>
<br>
<%@figure.landmarks.each do |landmark|%>
<p>Name: <%=landmark.name%></p>
<p>Year Completed: <%=landmark.year_completed%></p>
<%end%>